body {
  margin: 0px;
  background-image: url(https://images4.alphacoders.com/775/775513.jpg);
  background-size:100%;
}

#board {
    background: black;
    width: 300px;
    height: 300px;
    left: 0px;
    top: 0px;
}


.circle {
    background: blue;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
}

#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(175, 3, 255);
   margin: 0 auto;
   margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border: 12px rgb(255, 255, 255) ridge;
    border-radius: 1px;
}
h1 {
    font-family: Impact, fantasy;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    display: flex;
    text-decoration: none;
    color: #ff0000;
    font-family: Impact, fantasy;
}

/* main container area beneath menu */
main {
    margin-bottom: 5px;
    background: rgb(3, 133, 255);
    display: flex;
    border-radius: 25px;
    border: 6px rgb(219, 11, 11) ridge;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    margin-top: 25px;
    width: 300px;
    padding: 10px;
}
.content {
    flex: 1;
    padding: 15px;
}

.contentWords {
    color:#b12d2d;
}

/* portfolio styles */
#interests {
    border: 12px rgb(219, 11, 11) ridge;
    padding: 12px;
}
h2, h3 {
    margin: 0px;
    color:#b12d2d;
}

/*Bottom Gif Style*/
.bottomgif {
    border: 12px rgb(219, 11, 11) ridge;
}
/*Color Swap Style*/
.csnav-ul {
    list-style-image: none;
    float: left;
}
.csnav-li {
    padding: 0 10px;
    float: left;
}
.nav-cs {
    position: fixed;
    background: rgb(3, 133, 255);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
    border: 12px rgb(219, 11, 11) ridge;
    border-radius: 50px;
    float: left;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(196, 0, 0);
    flex: 1;
    margin: 0;
}

/* portfolio styles */
.content h1 {
    color: #f15e5e;
}

#portfolio {
    list-style-type: none;
    padding-left: 0;
}

#portfolio li {
    background: #9d0000;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#portfolio li:hover {
    background: #f98585;
}

#portfolio a {
    text-decoration: none;
    color: #007dc5;
}

.neonText {
    color: #ffffff;
  text-shadow:
    0 0 7px #e3e3e3,
    0 0 10px #d5d5d5,
    0 0 21px #bebebe,
    0 0 42px rgb(240, 240, 240),
    0 0 82px rgb(248, 248, 248),
    0 0 92px rgb(206, 206, 206),
    0 0 102px rgb(219, 219, 219),
    0 0 151px rgb(190, 190, 190);
}
#bgmusic {
    position: absolute;
    left: 500px;
    top: 800px;
}