body {
  margin: 0px;
  background-image: url(https://wallpapercat.com/w/full/1/1/e/32489-1922x1082-desktop-hd-bleach-background.jpg);
  background-size:100%;
}

#board {
  width: 400px;
  margin: auto;
  border: silver ridge 4px;
}

#info-bar {
  width: 400px;
  height: 40px;
  background: white;
  font-size: 40px;
  text-align: center;
}

#shape-container {
  width: 400px;
  height: 400px;
  background: black;
  border-top: silver ridge 4px;
  border-bottom: silver ridge 4px;
}

#button-box {
  width: 400px;
  height: 40px;
  background: whitesmoke;
}

#shape {
  color: white;
  width: 100px;
  height: 100px;
  position: relative;
  top: 150px;
  left: 150px;
  border: white solid 2px;
  display: block;
}

button {
  width: auto;
  height: auto;
  margin: auto;
  margin-top: 10px;
  margin-left: 9px;
}

p {
  margin: 5px;
}

#bgmusic {
    position: absolute;
    left: 1400px;
    top: 125px;
}