body {
    background-image: url(https://wallpapers.com/images/featured/rasengan-a4gjt06w2uw8t7lm.jpg);
    background-size: 100%;
}
h1 {
    color: rgb(221, 189, 7);
    font-weight: bolder;
    font-family: fantasy;
    font-style: italic;
    
}
audio {
    width: 1000px;
    background-color: rgb(221, 189, 7);
    border: 6px ridge black ;
    border-radius: 40px;
    padding: 15px;
    height: 70px;
}